.card-button:hover, .service__block-button:hover, .header__hero-button:hover{
    background: #FF86B9;
}
.header__hero-button:hover, .info__button:hover, .footer__phone-button:hover{
background:#999999;
}
.footer__menu-link:hover, .footer__social-link:hover, .dis:hover{
    text-decoration: underline;
}